@import '../../../../../../assets/styles/var';

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-box {
  border-bottom: 1px solid $border-color;
  width: 100%;
  height: 64px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .top-avatar {
    width: 40px;
    height: 40px;
  }

  .new-chat-icon {
    width: 24px;
    height: 24px;
  }
}

.content-box {
  width: 100%;
  height: calc(100% - 64px);
  overflow-y: auto;

  .content-search {
    padding: 24px;
    height: 88px;
  }

  .content-items {
    display: flex;
    flex-direction: column;
  }
}
