.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-box {
  width: 100%;
}

.button-box {
  margin-top: 15px;
  height: 45px;
  color: #000;
  display: flex;
  width: 100%;  
}

.link-box {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
