@import '../../../../../static/styles/var';

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.top-box {
  border-bottom: 1px solid $border-color;
  width: 100%;
  height: 64px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .top-avatar {
    width: 40px;
    height: 40px;
  }

  .search {
    height: 40px;
  }

  .more-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }
}

.content-container {
  width: 100%;
  height: calc(100% - 64px);
  background-color: $lenta-bg-color;
  padding: 0 24px 24px;
}

.content-box {
  width: calc(100% - 15vw);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.message-box {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  padding-top: 10px;
}
