@import '../../../static/styles/var';


.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $input-bg-color;
  border-radius: 8px;
  padding: 0 50px 0 15px;

  &.focused {
    outline: 1px solid #36373f;
  }
}

.input {
  background-color: transparent;
  color: $primary-text-color;
  width: 100%;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}
