$body-bg-color: #1c1d22;
$input-bg-color: #26272d;
$lenta-bg-color: #141416;
$border-color: #37393c;
$avatar-bg-color: #fff;
$primary-text-color: #fff;
$secondary-text-color: #fff9;
$link-color: #1677cf99;
$received-message-color: #1d1e22;
$received-message-bg-color: #bdd2b6;
$sent-message-color: #fffc;
$sent-message-bg-color: #212121;
