* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 16px;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.default-input {
  outline: none;
}

.default-button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.avatar-img-box {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}