@import '../../../static/styles/var';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 405px;
  color: $secondary-text-color;
}

.title {
  font-size: 34px;
  line-height: 30px;
}

.form-box {
  width: 100%;
}

.link-box {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.link {
  color: $link-color;
}
