.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(255 255 255 / 0.6);
}

.title {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 22px;
}

.link-box {
  font-size: 18px;
  line-height: 25px;
}
